/V3 - AsteroidsServiceLoader/Asteroid/target/
/V3 - AsteroidsServiceLoader/Collision/target/
/V3 - AsteroidsServiceLoader/Common/target/
/V3 - AsteroidsServiceLoader/Core/target/
/V3 - AsteroidsServiceLoader/Enemy/target/
/V3 - AsteroidsServiceLoader/Player/target/
/V3 - AsteroidsServiceLoader/Bullet/target/
